In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [5]:
le = preprocessing.LabelEncoder()

In [31]:
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [32]:
df.drop(['Name', 'Cabin', 'PassengerId', 'Ticket'], axis=1)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
884         0       2    1  27.0      0      0  13.0000         2
885         1       1    0  19.0      0      0  30.0000         2
886         0       3    0  45.0      1      2  23.4500         2
887         1       1    1  26.0      0      0  30.0000         0
888         0       3    1  32.0      0      0   7.7500         1

[889 rows x 8 columns]

In [33]:
df1 = df.drop(['Survived', 'PassengerId' , 'Cabin', 'Name', 'Ticket'], axis=1)

In [34]:
features = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']

In [42]:
from sklearn.naive_bayes import *
from sklearn.metrics import accuracy_score, confusion_matrix

In [43]:
def nb(a):
    y = df[a]
    X = df1
    x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
    clf = BernoulliNB()
    y_predict = clf.fit(x_train, y_train).predict(x_test)
    acc = accuracy_score(y_test, y_predict, normalize=True)
    cm = confusion_matrix(y_test, y_predict)
    return(acc, cm)

In [45]:
nb(features[0])

(0.7715355805243446,
 array([[131,  26],
        [ 35,  75]]))

In [46]:
nb(features[1])

(0.5767790262172284,
 array([[ 18,   2,  50],
        [  0,   1,  48],
        [ 10,   3, 135]]))

In [47]:
nb(features[2])

(1.0,
 array([[ 98,   0],
        [  0, 169]]))

In [48]:
nb(features[3])

(0.9250936329588015,
 array([[182,   0,   0,   0,   0,   0,   0],
        [  0,  65,   0,   0,   0,   0,   0],
        [  0,   8,   0,   0,   0,   0,   0],
        [  0,   7,   0,   0,   0,   0,   0],
        [  0,   2,   0,   0,   0,   0,   0],
        [  0,   1,   0,   0,   0,   0,   0],
        [  0,   2,   0,   0,   0,   0,   0]]))

In [49]:
nb(features[4])

(0.8876404494382022,
 array([[198,   0,   0,   0,   0],
        [  0,  33,   7,   0,   0],
        [  0,  21,   6,   0,   0],
        [  0,   1,   0,   0,   0],
        [  0,   0,   1,   0,   0]]))

In [50]:
nb(features[5])

(0.9176029962546817,
 array([[ 49,   0,   0],
        [  0,   0,  22],
        [  0,   0, 196]]))