# Applying statitical tests

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('general_data.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.shape

(4410, 24)

In [5]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.shape

(4382, 24)

In [8]:
df.duplicated().sum()

0

__Splitting dataframe into attrition yes and attrition no__

In [9]:
df = df.groupby('Attrition')
df1 = df.get_group('Yes')
df2 = df.get_group('No')

In [10]:
df1.shape

(705, 24)

In [11]:
df2.shape

(3677, 24)

In [12]:
df1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [13]:
df2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

# Applying Manwhitneyu Test

In [14]:
from scipy.stats import mannwhitneyu

In [15]:
stats, p=mannwhitneyu(df1.Age, df2.Age)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 949178.0, p-value is 7.98668614365882e-30

In [16]:
stats, p=mannwhitneyu(df1.BusinessTravel, df2.BusinessTravel)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1249881.0, p-value is 0.029614877291203285

In [17]:
stats, p=mannwhitneyu(df1.Department, df2.Department)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1230902.5, p-value is 0.0054197115582371854

In [18]:
stats, p=mannwhitneyu(df1.DistanceFromHome, df2.DistanceFromHome)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1295261.0, p-value is 0.488538986087403

In [19]:
stats, p=mannwhitneyu(df1.Education, df2.Education)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1258277.0, p-value is 0.09888570408770686

In [20]:
stats, p=mannwhitneyu(df1.EducationField, df2.EducationField)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1190200.0, p-value is 0.0001380350032352316

In [21]:
stats, p=mannwhitneyu(df1.Gender, df2.Gender)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1264340.5, p-value is 0.11168342489992195

In [22]:
stats, p=mannwhitneyu(df1.NumCompaniesWorked, df2.NumCompaniesWorked)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1238814.5, p-value is 0.02793197853866981

In [23]:
stats, p=mannwhitneyu(df1.PercentSalaryHike, df2.PercentSalaryHike)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1231873.5, p-value is 0.017810794960084964

In [24]:
stats, p=mannwhitneyu(df1.StockOptionLevel, df2.StockOptionLevel)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1276201.5, p-value is 0.24144793587056157

In [25]:
stats, p=mannwhitneyu(df1.TotalWorkingYears, df2.TotalWorkingYears)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 895173.5, p-value is 2.741211827689903e-39

In [26]:
stats, p=mannwhitneyu(df1.TrainingTimesLastYear, df2.TrainingTimesLastYear)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1225582.0, p-value is 0.008107344081224082

In [27]:
stats, p=mannwhitneyu(df1.YearsAtCompany, df2.YearsAtCompany)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 912579.0, p-value is 3.3433144809752036e-36

In [28]:
stats, p=mannwhitneyu(df1.YearsSinceLastPromotion, df2.YearsSinceLastPromotion)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 1196606.0, p-value is 0.00037904698157957496

In [29]:
stats, p=mannwhitneyu(df1.YearsWithCurrManager, df2.YearsWithCurrManager)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 945958.5, p-value is 5.420302388722274e-31

# Inference from MannWhitney U Test

For __Distance from home, Education, Gender, Stock option value__ :

__p-value > 0.05__ So null hypothesis is accepted, So there is no significant difference between Attrition Yes and Attrition No.

And For __Age, Business Travel, Department, Education Field, Number of companies worked, Percent Salary hike, Total working years, Traning time last year, Years at company, Years since promotion, Years with current manager__:

__p-value < 0.05__ So null hypothesis is rejected, So there is a significant difference between Attrition Yes and Attrition No.

# Applying two sample independent t test

In [30]:
from scipy.stats import ttest_ind

In [31]:
df1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [32]:
df2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

In [33]:
stats, p = ttest_ind(df1.Age, df2.Age)
print(stats, p)

-10.617111568458819 5.126598219406314e-26

In [34]:
stats, p = ttest_ind(df1.DistanceFromHome, df2.DistanceFromHome)
print(stats, p)

-0.6253536318706914 0.5317715668047676

In [35]:
stats, p = ttest_ind(df1.Education, df2.Education)
print(stats, p)

-1.132287911067296 0.25757539308301036

In [36]:
stats, p = ttest_ind(df1.EmployeeCount, df2.EmployeeCount)
print(stats, p)

nan nan

In [37]:
stats, p = ttest_ind(df1.EmployeeID, df2.EmployeeID)
print(stats, p)

-0.305797970979733 0.7597730060959204

In [38]:
stats, p = ttest_ind(df1.NumCompaniesWorked, df2.NumCompaniesWorked)
print(stats, p)

2.837197670884213 0.004572057121646456

In [39]:
stats, p = ttest_ind(df1.PercentSalaryHike, df2.PercentSalaryHike)
print(stats, p)

2.1953267956195552 0.028192446935249534

In [40]:
stats, p = ttest_ind(df1.StandardHours, df2.StandardHours)
print(stats, p)

nan nan

In [41]:
stats, p = ttest_ind(df1.StockOptionLevel, df2.StockOptionLevel)
print(stats, p)

-0.5403260977526364 0.5889996358342873

In [42]:
stats, p = ttest_ind(df1.TotalWorkingYears, df2.TotalWorkingYears)
print(stats, p)

-11.39422669317641 1.1645434967153693e-29

In [43]:
stats, p = ttest_ind(df1.TrainingTimesLastYear, df2.TrainingTimesLastYear)
print(stats, p)

-3.152870411721613 0.00162766036355604

In [44]:
stats, p = ttest_ind(df1.YearsAtCompany, df2.YearsAtCompany)
print(stats, p)

-8.881225486705604 9.476118084889976e-19

In [45]:
stats, p = ttest_ind(df1.YearsSinceLastPromotion, df2.YearsSinceLastPromotion)
print(stats, p)

-2.080660880277173 0.03752293607413772

In [46]:
stats, p = ttest_ind(df1.YearsWithCurrManager, df2.YearsWithCurrManager)
print(stats, p)

-10.362463400192302 7.105369646808081e-25

# Inference from Two sample independent T test

There is a significant difference between mean of __Age, Num of companies worked, Percent salary hike, Total working year, Total Training times last year, Years at company, Years since last promotion, Years with current manager__ for attrition yes and no.

There is no significant difference between mean of __Distance from home, Education, Employee count, Employee ID, Standard hours, Stock option level__ for attrition yes and no.

# Applying Chi square test

In [52]:
dataset = pd.read_csv('general_data.csv')

In [53]:
from scipy.stats import chi2_contingency

__Attrition v/s BusinessTravel__

H0 - There is no significant diffrence b/w Attriton and Business travel

H1 - There is a significant diffrence b/w Attrition and Business travel

In [59]:
chitable = pd.crosstab(dataset.Attrition, dataset.BusinessTravel)
print(chitable)

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     414                624           2661
Yes                     36                207            468

In [60]:
stats, p, dof, expected = chi2_contingency(chitable)
print('The critical value is {}, and p-value is {}'.format(stats, p))

The critical value is 72.54724105696552, and p-value is 1.764276972983189e-16

Here p-value < 0.05 so null hypothesis is rejected ie. __There is a significant diffrence in Business travel and Attrition__

__Attrition v/s Department__

H0 - There is no significant diffrence b/w Attriton and Department

H1 - There is a significant diffrence b/w Attrition and Department

In [61]:
chitable = pd.crosstab(dataset.Attrition, dataset.Department)
print(chitable)

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2430   1137
Yes                      57                     453    201

In [62]:
stats, p, dof, expected = chi2_contingency(chitable)
print('The critical value is {}, and p-value is {}'.format(stats, p))

The critical value is 29.090274924488266, and p-value is 4.820888218170406e-07

Here p-value < 0.05 so null hypothesis is rejected ie. __There is a significant diffrence in Department  and Attrition__

__Attrition v/s Department__

H0 - There is no significant diffrence b/w Attriton and Education field

H1 - There is a significant diffrence b/w Attrition and Educational field

In [63]:
chitable = pd.crosstab(dataset.Attrition, dataset.EducationField)
print(chitable)

EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
No                           48           1515        402     1167    216
Yes                          33            303         75      225     30

EducationField  Technical Degree
Attrition
No                           351
Yes                           45

In [64]:
stats, p, dof, expected = chi2_contingency(chitable)
print('The critical value is {}, and p-value is {}'.format(stats, p))

The critical value is 46.194921001730584, and p-value is 8.288917469574179e-09

Here p-value < 0.05 so null hypothesis is rejected ie. __There is a significant diffrence in Education field  and Attrition__

__Attrition v/s Job-role__

H0 - There is no significant diffrence b/w Attriton and job role

H1 - There is a significant diffrence b/w Attrition and job role

In [66]:
chitable = pd.crosstab(dataset.Attrition, dataset.JobRole)
print(chitable)

JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
No                               336              135                    651
Yes                               57               21                    126

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
No             264                     387                183
Yes             42                      48                 57

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
No                        717              813                   213
Yes                       159              165                    36

In [67]:
stats, p, dof, expected = chi2_contingency(chitable)
print('The critical value is {}, and p-value is {}'.format(stats, p))

The critical value is 25.116313674604072, and p-value is 0.001485544744815264

Here p-value < 0.05 so null hypothesis is rejected ie. __There is a significant diffrence in Job role  and Attrition__