# Assignment Day 6 | 14th July 2020

__Question 1:__
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
Input Format:
The first line of the input contains an email address. Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [13]:
def splitter(st):
    st1 =  st.split('@')
    st2 =  st1[1].split('.')
    print(st2[0])
 

x = input('Enter your email address')
splitter(x)

Enter your email addresswanesaksham@gmail.com
gmail

__Question 2:__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma. Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [22]:
def sorting_method(y):
    a = y.split(',')
    print(a)
    b = sorted(a)
    print(b)
    
z = input('Enter comma serperated values')
sorting_method(z)

Enter comma serperated valuesapple,zebra,cat,ball
['apple', 'zebra', 'cat', 'ball']
['apple', 'ball', 'cat', 'zebra']

__Question 3:__
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

__Question 4:__
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space. Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [57]:
n = input('Enter space seperated list of numbers')
m = n.split()

for i in range(1,len(m)):
    if str(i) not in m:
        print(i)
        break

Enter space seperated list of numbers1 2 4 6 3 7 8
5

__Question 5:__
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be 12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present. Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space. Example:
Input: 12 24 35 24
Output:
12 24 35

In [70]:
l = input('Enter list of values')
l1 = l.split()
unique_list = dict.fromkeys(l1)
print(list(unique_list))

Enter list of values12 24 35 24
['12', '24', '35']